target/
.bsp/

# IDE stuff
.bloop/
.metals/
.vscode/
project/.bloop/
project/metals.sbt
project/project/
project/target/
project/
.idea
.ammonite/
.DS_Store

# Terraform files
**/.terraform
**/.terraform.lock.hcl

# Secrets
secrets/
.envrc

# Random files
*.kra

